/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-toastr/toastr.css';
@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#toast-container > div {
  opacity:1;
}

.cus-toast-top-right {
  position: fixed;
  top: 12px;
  z-index: 99999;
  right: 12px;
  width: 300px;
  height: 100px;
}
